[Auth]
OAuth_token = 

[Instances]
# Space separated instance IDs
IDs = 

[Snapshots]
# Specify the lifetime of snapshots in days
Lifetime = 

[Watchdog]
# Specify instance IDs in targets, space separated if multiple
targets = 
delay = 10